#clock {
    background: @background0;
    color: @text0;
    padding: 0 10px;
    border-radius: 10px;
    transition: background 0.3s;
}

#clock:hover {
    background: @background1;
    color: @text1;
}