#pulseaudio {
    color: @text0;
    background: @background0;
    padding: 0 10px;
    transition: background 0.3s;
    border-radius: 10px;
}

#pulseaudio:hover {
    background: @background1;
    color: @text1;
}