#workspaces > button {
    border-radius: 0;
    background: @background0;
    box-shadow: none;
    text-shadow: none;
    border: none;
    color: @text0;
}

#workspaces > button:first-child {
    border-radius: 10px 0 0 10px;
}

#workspaces > button:last-child {
    border-radius: 0 10px 10px 0;
}

#workspaces > button:hover {
    background-color: @background1;
    color: @text1;
}