#workspaces {
    background: @base;
    border-radius: 10px;
    padding: 5px;
}

#workspaces > button {
    background: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
    text-shadow: none;
    color: white;
}