@import "./theme/catppuccin/mocha.css";
@import "./modules/workspaces.css";
@import "./modules/window.css";
@import "./modules/clock.css";
@import "./modules/tray.css";
@import "./modules/network.css";
@import "./modules/pulseaudio.css";
@import "./modules/language.css";
@import "./modules/battery.css";

* {
    font-family: 'Fira Code';
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    color: @text0;
}