[Desktop Entry]
Type=Application
Name=Audio
GenericName=Selecting an audio output device
GenericName[ru]=Выбор устройства вывода звука
Icon=audio-volume-high
Exec=rofi -show audio -theme audio